#UE03 - SPARQL Query

Please complete the 10 tasks in the `2. SPARQL` sheet of `SemAI.jar` first, and then transfer the task descriptions and your solutiosn in executable form to this notebook.

## Preparation

Reuse imports and functions from https://github.com/jku-win-dke/SemAI/blob/main/V02_SPARQL.ipynb and load the solar system graph. Query the solar system graph to check that everything works fine.

In [ ]:
# Install required packages
!pip install -q rdflib

# Imports
import pandas as pd
from rdflib import Graph, Literal, RDF, URIRef, BNode, Namespace
from rdflib.namespace import FOAF , XSD , RDFS, NamespaceManager 

# Convenient Functions
def sparql_select(graph,query,use_prefixes=True):
  results = graph.query(query)          # execute the query against the graph, resulting in a rdflib.plugins.sparql.processor.SPARQLResult
  rows = []                             # a list of dictionaries, as intermediate format to construct the pandas DataFrame
  for result in results:                # iterate over the result set of the query, a result is an instance of rdflib.query.ResultRow
    row = {}                            #     create a dictionary to hold a single row of the result
    for var in results.vars:            #     iterate over the variables of the SPARQLResult to add a dictionary entry for each variable
      if (isinstance(result[var],URIRef) and use_prefixes):
        row[var] = result[var].n3(graph.namespace_manager)   # use namespace prefixes to shorten URIs
      else:
        row[var] = result[var]                  
    rows.append(row)                    #     add the dictionary (row) to the list 
  return pd.DataFrame(rows,columns=results.vars)        
                                        # return a pandas DataFrame constructed from the list of dictionaries, with the variables from the result set as columns      

def sparql_construct(graph, query):
  result_graph = Graph(namespace_manager = g.namespace_manager)  # create a Graph object that reuses the namespace prefixes of the original graph
  result_graph += graph.query(query)                             # execute the construct query against the original graph and add the resulting graph to the new one
  return result_graph

def sparql_ask(graph, query):
  return bool(graph.query(query))      # an ASK query has a boolean result, which should be returned as such

# Load solar system graph
g = Graph()
g.parse("https://raw.githubusercontent.com/jku-win-dke/SemAI/main/data/solarsystem.ttl",format="turtle")

# Query solar system graph (to check that everything works fine)
df = sparql_select(g,"""
  SELECT ?planet ?apoapsis ?apoapsis_uom
  WHERE { 
    ?planet rdf:type dbo:Planet . 
    OPTIONAL { ?planet v:apoapsis [rdf:value ?apoapsis ; v:uom ?apoapsis_uom ].  }
  }
""")
df


## Task 1 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
result_task1 = """
SELECT *
WHERE { ?d a dbo:DwarfPlanet.
OPTIONAL { ?d skos:exactMatch ?match. } }
ORDER BY ?d
"""
df = sparql_select(g, result_task1)
df

## Task 2 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
result_task2 = """
SELECT *
WHERE { ?star a dbo:Star.
OPTIONAL { ?star skos:exactMatch ?match. }
OPTIONAL { ?star v:mass[rdf:value ?massVal; v:uom ?massUoM]. }
}
ORDER BY ?star
"""
df = sparql_select(g, result_task2)
df

## Task 3 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
result_task3 = """
SELECT ?planet ?assertedNo (count(?moon) as ?noOfDescribedMoons)
WHERE {
?planet a dbo:Planet;  v:nrOfMoons ?assertedNo.
OPTIONAL {?moon v:orbits ?planet}
} group by ?planet ?assertedNo
order by ?planet
"""
df = sparql_select(g, result_task3)
df

## Task 4 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
result_task4 = """
SELECT (avg(?nr) AS ?avgNoOfDescribedMoons)
{
SELECT ?planet (count(?moon) as ?nr)
WHERE{
?planet a dbo:Planet
OPTIONAL { ?moon v:orbits ?planet }
} group by ?planet
}
"""
df = sparql_select(g, result_task4)
df

## Task 5 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
result_task5 = """
SELECT ?class (count(?type) as ?noOfInstances)
WHERE {
?type a ?class.
} group by ?class
having (count(?type) > 2)
order by ?class
"""
df = sparql_select(g, result_task5)
df

## Task 6 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
result_task6 = """
select ?class ?prop (count(distinct ?help) as ?noOfInstance)
where {
?help a ?class.
?help ?prop ?o.
} group by ?class ?prop
having(count(distinct ?help) >= 7)
order by ?class ?prop
"""
df = sparql_select(g, result_task6)
df

## Task 7 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
result_task7 = """
SELECT ?x ?y
where {
{?x a dbo:Star}
union
{?x a dbo:Satellite ; v:orbits ?y}
}
order by ?x
"""
df = sparql_select(g, result_task7)
df

## Task 8 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
result_task8 = """
CONSTRUCT {
  ?x rdf:type v:Himmelskoerper.
  ?x v:wirdUmrundetVon ?y. 
  ?z v:wirdUmrundetVon ?t.   
}
WHERE { 
  {?x a dbo:Planet} UNION {?x a dbo:Satellite}.
  OPTIONAL {?y v:orbits ?x}.
  OPTIONAL {?z skos:exactMatch dbr:Sun}.
  OPTIONAL {?t a dbo:Planet; v:orbits ?z}.  
}
"""
df = sparql_construct(g, result_task8)
df

## Task 9 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
result_task9 = """
ask{
?s a dbo:Star ;
v:mass[rdf:value ?massValue; v:uom ?UoM]
FILTER(?massValue > 1 && ?UoM in (v:SolarMass))
}
"""
df = sparql_ask(g, result_task9)
df

## Task 10 (1 pt)

*TODO: add task description*

In [ ]:
# TODO: include and execute the query, display the result
result_task10 = """
describe ?x
where {
?x a ?y ;
v:radius [rdf:value ?radiusValue; v:uom ?uom]
FILTER(?radiusValue >=20000 && ?radiusValue<=30000 && ?uom in (unit:KM))
}
"""
df = sparql_construct(g, result_task10)
df